/* Universal Selectors */
* {
    font-family: 'Rubik Gemstones', sans-serif;  
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: lightblue;
    margin: 0;
}

nav {
    width: fit-content;
}

button {
    display: inline-block;
}

