/* Universal Selectors */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-ExtraLight.ttf')
     format('truetype'); /*font ttf */

}

/* enter button clears to details box which clears to quiz */

.enter_btn,
.details_box{
    position: absolute;
    top: 50%; /* moves box to middle of the browser*/
    left: 50%; /* moves enter button & detail box to middle of the broswer */
    transform: translate(-50%, -50%);//* reposition box to true center */
    
    
  
}

body {
    color: black;
    background-color: white;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}